{% extends "site_base.html" %}

{% block body %}

    <div class="page-header">
        <h1>Change Log</h1>
    </div>

    <div class="row">
        <div class="span10">

            <dl class="dl-horizontal">
                <dt>2013-10-14</dt>
                <dd>
                    <ul>
                        <li>
                            Rebranding from the development version of this application to OpenAutoTracker.com.
                        </li>
                        <li>
                            Adding Privacy Policy, Change Log pages to the web application.
                        </li>
                    </ul>

                </dd>
            </dl>

        </div>
    </div>

{% endblock %}
