{% extends "site_base.html" %}

{% block body %}

    <div class="hero-unit">
        <h1>Open Auto Tracker</h1>

        <p>An open source car maintenance tracker.</p>
        <p>
            <a class="btn btn-large btn-primary" href="{% url 'account_signup' %}">Sign Up</a>
            <a class="btn btn-large btn-success" href="{% url 'account_login' %}">Log In</a>
        </p>

    </div>

    <div class="row">
        <div class="span4 offset1">
            <h4>What we do</h4>
            <p>
                Collect and store your maintenance records for each of your
                vehicles allowing you to keep your records in one place.
            </p>
        </div>

        <div class="span4 offset1">
            <h4>Why</h4>
            <p>
                Maintaining records on your car provides insight on scheduled
                maintenance needs, driving patterns, and your usage.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="span10 offset1">
            <h4>What's next</h4>
            <p>
                This software is open-source and requires participation from developers and
                users to improve upon the functionality.  In order to help, start using the
                software and provide feedback on the features that are missing or need to be
                improved upon.
            </p>
        </div>
    </div>

{% endblock %}
