{% extends "site_base.html" %}

{% block body %}

    <div class="page-header">
      <h1>Privacy Policy</h1>
    </div>

    <div class="row">
      <div class="span10 offset1">

          <p>
              OpenAutoTracker.com is committed to respecting and protecting the privacy
              of our users.
          </p>

          <dl>
              <dt>Information Gathered</dt>
              <dd>
                  <p>
                    This web application does collect personal information in order to provide
                    a rich user experience.  This information includes user name and email
                    address.  Personal information is not given to to any third party services.
                  </p>
                  <p>
                      This web application also uses <a href="http://analytics.google.com/">Google Analytics</a>
                      to track the features that is being used by its users.  This information is used to track functionality
                      usage and to improve the user experience.
                  </p>
              </dd>

              <dt>Cookies</dt>
              <dd>
                  This application does use cookies in order to maintain session details
                  throughout a users interaction with this web-page.
              </dd>

              <dt>Updates to this Policy</dt>
              <dd>
                  Users will be notified of updates to this privacy policy on the main page
                  and initial user page of the application.
              </dd>

              <dt>Contact</dt>
              <dd>
                  Users may contact the administrators of this site through the email
                  address: <a href="mailto:meerkatlabs@meerkatlabsllc.com">meerkatlabs@meerkatlabsllc.com</a>
              </dd>
          </dl>

      </div>
    </div>

{% endblock %}
