<!DOCTYPE HTML>
{% load staticfiles %}
<html>
<head>
    <title>{% block title %}Open Auto Tracker{% endblock %}</title>

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">

    {% block extrahead %}
    {% endblock %}

</head>

<body>

<div class="container">

    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand"
               {% if user.is_authenticated %}
               href="{% url 'auto_maintenance_car_list' %}"
               {% else %}
               href="{% url 'landing' %}"
               {% endif %}
            >{% block brand %}Open Auto Tracker{% endblock %}</a>

            {% if user.is_authenticated %}
                <ul class="nav" role="navigation">
                    <li class="dropdown">
                        <a id="car_drop" href="#" role="button"
                           class="dropdown-toggle" data-toggle="dropdown">Cars
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu"
                            aria-labelledby="car_drop">
                            {% for car in car_list %}
                                <li>
                                    <a href="{{ car.get_absolute_url }}">{{ car }}</a>
                                </li>
                            {% endfor %}
                            {% if car_list|length < max_car_count %}
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1"
                                       href="{% url 'auto_maintenance_add_car' %}">Add
                                        Car</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>

                    {% block submenus %}
                    {% endblock %}

                </ul>
            {% endif %}

            {% if user.is_authenticated %}
                <ul class="nav pull-right">
                    <li id="fat-menu" class="dropdown">
                        <a href="#" id="drop3" role="button"
                           class="dropdown-toggle" data-toggle="dropdown">
                            {% if user.first_name %}
                                {{ user.first_name }}{% else %}
                                {{ user.username }}{% endif %}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu"
                            aria-labelledby="drop3">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1"
                                   href="{% url 'account_settings' %}">Edit
                                    Profile</a>
                            </li>
                            {% if user.is_staff %}
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1"
                                       href="/admin/">Admin</a>
                                </li>
                            {% endif %}
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1"
                                   href="{% url 'account_logout' %}">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <ul class="nav pull-right">
                    <li>
                        <a href="{% url 'account_login' %}">Login</a>
                    </li>
                </ul>
            {% endif %}

        </div>
    </div>

    <div class="row">
        <div class="span12">
            {% block content %}
                {% block body %}
                {% endblock %}
            {% endblock %}
        </div>
    </div>

    <hr/>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <p class="muted">&copy; 2013 <a href="http://meerkatlabsllc.com">Meerkat Labs
                                                                       LLC.</a><br/>

                    Open AutoTracker is released under
                        <a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPL</a>.
                       See <a href="{% url 'license_list' %}">Licenses</a> for more
                       information.
                    </p>
                </div>

                <span class="span2 offset4">
                    <ul class="unstyled">
                        <li><a href="{% url 'termsofservice' %}">Terms of Service</a></li>
                        <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                        <li><a href="{% url 'changelog' %}">Change Log</a></li>
                    </ul>
                </span>
            </div>

        </div>
    </footer>

</div>

<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>

{% block extrascript %}
{% endblock %}

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-26282049-6', 'openautotracker.com');
    ga('send', 'pageview');

</script>

</body>
</html>
