{% extends "site_base.html" %}

{% block body %}

    <div class="page-header">
      <h1>Terms of Service</h1>
    </div>

    <div class="row">
      <div class="span10 offset1">

          <p>
              OpenAutoTracker.com is committed to protecting the data of our users.
          </p>

          <dl>
              <dt>Under Development</dt>
              <dd>
                  This software is still under active development, and as such will be subject
                  to periods of service unavailability while features are added to the application.
              </dd>

              <dt>Your Data</dt>
              <dd>
                  OpenAutoTracker does not release data to third party organizations or
                  services except where required by law.  This application does not share
                  data through any social network connections.  Social networks are only
                  used as a means of authentication.
              </dd>

              <dt>Tracking</dt>
              <dd>
                  OpenAutoTracker.com does use a tracking service to view users activity
                  in the application.  This information is only used to improve workflow,
                  functionality and add features to the application.
              </dd>

              <dt>Updates to Terms of Service</dt>
              <dd>
                  Users will be notified of updates to these terms through a link on the main
                  page and on the main user page.
              </dd>

              <dt>Contact</dt>
              <dd>
                  Users may contact the administrators of this site through the email
                  address: <a href="mailto:meerkatlabs@meerkatlabsllc.com">meerkatlabs@meerkatlabsllc.com</a>.
              </dd>
          </dl>

      </div>
    </div>

{% endblock %}
