{% extends "automaintenance/base.html" %}

{% block body %}

<div class="page-header">
    {% if object %}
	<h1>Edit <small>{{object}}</small></h1>
    {% else %}
    <h1>Create <small>New Car</small></h1>
    {% endif %}
</div>

<div class="row">
	<div class="span10 offset1">

        {% if object or car_list|length < max_car_count %}
		
		{% if form.non_field_errors %}
		<div class="alert alert-error">
  			<strong>ERROR:</strong> {{ form.non_field_errors|striptags }}
		</div>
		{% endif %}
		
		<form method="post" action="." class="form-horizontal">
			{% csrf_token %}
			
			{% include "automaintenance/form_template.html" with field=form.name %}
			
			<fieldset>

				<legend>
					Car Details
				</legend>
				
				{% include "automaintenance/form_template.html" with field=form.car_type %}
				
				{% include "automaintenance/form_template.html" with field=form.mileage_unit %}
				
				{% include "automaintenance/form_template.html" with field=form.fuel_unit %}
				
				{% include "automaintenance/form_template.html" with field=form.city_rate %}
				
				{% include "automaintenance/form_template.html" with field=form.highway_rate %}
				
				{% include "automaintenance/form_template.html" with field=form.currency %}
				
			</fieldset>

			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
					Save
				</button>
				<button type="button" class="btn">
					Cancel
				</button>
			</div>
		</form>

        {% else %}

            <div class="alert alert-error">
                <strong>ERROR:</strong> You have already maxed out the number of cars you can create.
            </div>

        {% endif %}

	</div>
</div>


{% endblock %}
