{% extends "automaintenance/base.html" %}

{% load staticfiles %}

{% block body %}

<div class="page-header">
    <h1>Welcome<small> My Cars</small></h1>
</div>

<div class="row">
  {% for car in car_list %}

      <div class="span3">

        <div class="well well-small" style="height: 125px">
            <p class="text-center"><a href="{{ car.get_absolute_url }}"><img src="{% static  "img/smallauto.png" %}"></a></p>

            <p class="text-center"><strong>{{ car.name }}</strong></p>
            <p class="text-center">{{ car.car_type }}</p>
        </div>

      </div>

  {% endfor %}

  {% if car_list|length < max_car_count %}

      <div class="span3">

          <div class="well well-small" style="height: 125px">
              <p class="text-center">
                  <a href="{% url 'auto_maintenance_add_car' %}"><img src="{% static  "img/addcar.png" %}"></a></p>

              <p class="text-center"><strong>Add Car</strong></p>
          </div>

      </div>

  {% endif %}
</div>


{% endblock %}
